# Model Training


1.1 Import Data and Required Packages

Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [2]:
%load_ext autoreload
%autoreload 2
import sys
!{sys.executable} -m pip install scikit-learn catboost xgboost Flask

Requirement already satisfied: scikit-learn in d:\projects\ml_project_1\venv\lib\site-packages (1.7.1)
Requirement already satisfied: catboost in d:\projects\ml_project_1\venv\lib\site-packages (1.2.8)
Requirement already satisfied: xgboost in d:\projects\ml_project_1\venv\lib\site-packages (3.0.2)
Requirement already satisfied: Flask in d:\projects\ml_project_1\venv\lib\site-packages (3.1.1)
Requirement already satisfied: numpy>=1.22.0 in d:\projects\ml_project_1\venv\lib\site-packages (from scikit-learn) (2.3.1)
Requirement already satisfied: scipy>=1.8.0 in d:\projects\ml_project_1\venv\lib\site-packages (from scikit-learn) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in d:\projects\ml_project_1\venv\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\projects\ml_project_1\venv\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: graphviz in d:\projects\ml_project_1\venv\lib\site-packages (from catboost) (0.21)
Requirement already satisfied: matplotlib in d:\projects\ml_project_1\venv\lib\site-packages (from catboost) (3.10.3)
Requirement already satisfied: pandas>=0.24 in d:\projects\ml_project_1\venv\lib\site-packages (from catboost) (2.2.3)
Requirement already satisfied: plotly in d:\projects\ml_project_1\venv\lib\site-packages (from catboost) (6.2.0)
Requirement already satisfied: six in d:\projects\ml_project_1\venv\lib\site-packages (from catboost) (1.17.0)
Requirement already satisfied: blinker>=1.9.0 in d:\projects\ml_project_1\venv\lib\site-packages (from Flask) (1.9.0)
Requirement already satisfied: click>=8.1.3 in d:\projects\ml_project_1\venv\lib\site-packages (from Flask) (8.2.1)
Requirement already satisfied: itsdangerous>=2.2.0 in d:\projects\ml_project_1\venv\lib\site-packages (from Flask) (2.2.0)
Requirement already satisfied: jinja2>=3.1.2 in d:\projects\ml_project_1\venv\lib\site-packages (from Flask) (3.1.6)
Requirement already satisfied: markupsafe>=2.1.1 in d:\projects\ml_project_1\venv\lib\site-packages (from Flask) (3.0.2)
Requirement already satisfied: werkzeug>=3.1.0 in d:\projects\ml_project_1\venv\lib\site-packages (from Flask) (3.1.3)
Requirement already satisfied: colorama in d:\projects\ml_project_1\venv\lib\site-packages (from click>=8.1.3->Flask) (0.4.6)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\projects\ml_project_1\venv\lib\site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\projects\ml_project_1\venv\lib\site-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\projects\ml_project_1\venv\lib\site-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in d:\projects\ml_project_1\venv\lib\site-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in d:\projects\ml_project_1\venv\lib\site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\projects\ml_project_1\venv\lib\site-packages (from matplotlib->catboost) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\projects\ml_project_1\venv\lib\site-packages (from matplotlib->catboost) (1.4.8)
Requirement already satisfied: packaging>=20.0 in d:\projects\ml_project_1\venv\lib\site-packages (from matplotlib->catboost) (25.0)
Requirement already satisfied: pillow>=8 in d:\projects\ml_project_1\venv\lib\site-packages (from matplotlib->catboost) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\projects\ml_project_1\venv\lib\site-packages (from matplotlib->catboost) (3.2.3)
Requirement already satisfied: narwhals>=1.15.1 in d:\projects\ml_project_1\venv\lib\site-packages (from plotly->catboost) (1.47.1)

In [1]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [3]:
df = pd.read_csv('data/stud.csv')

In [5]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
x = df.drop(columns=['math score'],axis=1)

In [8]:
x.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [9]:
y=df['math score']

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [11]:
print("Categories in 'gender' feature:  ",end=" ")
print(df['gender'].unique())
print("Categories in 'race/ethinicity' feature:  ",end=" ")
print(df['race/ethnicity'].unique())
print("Categories in 'parental level of education' feature:  ",end=" ")
print(df['parental level of education'].unique())
print("categories in 'lunch:'    ",end=" ")
print(df['lunch'].unique())
print("Categories in 'test preparation course' variable:     ",end=" " )
print(df['test preparation course'].unique())

Categories in 'gender' feature:   ['female' 'male']
Categories in 'race/ethinicity' feature:   ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in 'parental level of education' feature:   ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
categories in 'lunch:'     ['standard' 'free/reduced']
Categories in 'test preparation course' variable:      ['none' 'completed']

In [16]:
#Create Column Trasformer with 3 types of transformers
num_features=x.select_dtypes(exclude="object").columns
cat_features=x.select_dtypes(include="object").columns
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()
preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
        ("StandardScaler", numeric_transformer, num_features),
]
)